.input-label-text {
  font-family: Macan, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
}

.radioInput {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.error {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-danger);
}
